---
apiVersion: v1
kind: Namespace
metadata:
  name: opentelemetry
---
apiVersion: v1
kind: persistentVolumeClaim
metadata:
  name: log-pvc
  namespace: opentelemetry
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 3Gi
  storageClassName: ""
  volumeName: log-pv-2
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-collector
  namespace: opentelemetry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: otel-collector
  template:
    metadata:
      labels:
        app: otel-collector
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9464"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: otel-collector
          image: otel/opentelemetry-collector-contrib:0.111.0
          args:
            - "--config=/etc/otel-collector-config.yaml"
          ports:
            - containerPort: 4317   # OTLP gRPC
            - containerPort: 9464   # Prometheus metrics exposed
          volumeMounts:
            - name: otel-config
              mountPath: /etc/otel-collector-config.yaml
              subPath: config.yaml
            - name: log-volume # Mounting the PVC for logs
              mountPath: /var/log/nasa-app
      volumes:
        - name: otel-config
          configMap:
            name: otel-config
        - name: log-volume
          persistentVolumeClaim:
            claimName: log-pvc
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-config
  namespace: opentelemetry
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
      filelog:
        include: ["/var/log/nasa-app/*.log"]
        start_at: beginning
      # prometheus:
      #   config:
      #     scrape_configs:
      #       - job_name: 'otel-collector-metrics'
      #         static_configs:
      #           - targets: ['0.0.0.0:8888']
    exporters:
      otlp/jaeger:
        endpoint: "jaeger:4317"
        tls:
          insecure: true
      prometheus:
        endpoint: "0.0.0.0:9464"
        namespace: "otel_collector"
      otlphttp/loki:
        endpoint: "http://loki.opentelemetry.svc.cluster.local:3100/otlp"
        tls:
          insecure: true
      debug: {}
    processors:
      batch: {}
    connectors:
      spanmetrics:
        namespace: span.metrics
    service:
        pipelines:
            logs:
                receivers: [otlp, filelog]
                processors: [batch]
                exporters: [otlphttp/loki]
            traces:
                receivers: [otlp]
                processors: [batch]
                exporters: [otlp/jaeger, debug, spanmetrics]
            metrics:
                receivers: [otlp, spanmetrics]
                processors: [batch]
                exporters: [prometheus]
---
apiVersion: v1
kind: Service
metadata:
  name: otel-collector
  namespace: opentelemetry
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9464"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector:
    app: otel-collector
  ports:
    - protocol: TCP
      port: 4317
      targetPort: 4317
      name: otlp-grpc
    - protocol: TCP
      port: 9464
      targetPort: 9464
      name: metrics